
a, a:hover, a:visited, a:active {
  color: #183478 !important;
}
 a:hover {
 }
 h1, h2 {
  font-family: "Cinetype-Bold", "Helvetica Neue", Helvetica, Arial, serif; 
 }
 h3 {
  margin-bottom: 1rem;
 }
 .full-img {
  max-width: none;
  width: 100%;
 }
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbd1c6+0,ffebeb+100&1+0,0+100 */
background: -moz-linear-gradient(-45deg, rgba(251,209,198,1) 100%, rgba(255,235,235,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(251,209,198,1) 100%,rgba(255,235,235,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(251,209,198,1) 0%,rgba(255,235,235,100) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbd1c6', endColorstr='#00ffebeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
background-repeat: none;
}
#page {
  .row {
    margin-bottom: 50px;
  }
  img ~ img {
    margin-top:20px;
  }
}
.emoji {
  width: 60px;
    margin-bottom: 2rem;
}
.opening {
  height: 100vh;
  min-height: 540px;
  position: relative;
  display: flex;
  .emoji {
  }
  .row {
    align-self: flex-end;
  }
}
.work-img {
  opacity: .2;
  transition: all .5s ease-in-out;

  @include breakpoint(small only) {
    opacity: 1;
  }
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor:pointer;
  text-align: right;
  left: 9%;
  z-index: 10;
  p, h2{
    margin-bottom: 0;
    display: inline-block;
    transition: all .5s ease-in-out;

  }
  @include breakpoint(small only) {
    padding-top:10px;
    padding-bottom:40px;
  }
}
h4 {

    transition: all .5s ease-in-out;
}

#work, #next {

  @include breakpoint(small only) {
    margin-bottom: 200px;
  }
  > .row {
    margin-bottom:100px;
    &:hover {
      .work-img {
        opacity: 1;
      }
      h2 {
        box-shadow: inset 0 -40px 0 rgba(255,255,255,1);

        @include breakpoint(medium down) {
          box-shadow: inset 0 -24px 0 rgba(255,255,255,1);
        }
      }
      p,h4 {
        box-shadow: inset 0 -30px 0 rgba(255,255,255,1);

        @include breakpoint(medium down) {
          box-shadow: inset 0 -35px 0 rgba(255,255,255,1);
        }
      }
    }

    @include breakpoint(small only) {
      margin-bottom: 0;
    }
  }
  h2 {
    display: inline;
    box-shadow: inset 0 -10px 0 rgba(255,255,255,.2);
  }
  p {
    box-shadow: inset 0 -10px 0 rgba(255,255,255,.2);
  }
  h4 {
    display: inline;
    box-shadow: inset 0 -10px 0 rgba(255,255,255,.2);
  }
}

#work {
  padding-top:40px;
  & > .row:nth-child(odd) {
    .description {
      left: -9%;
      text-align: left;
      @include breakpoint(small only) {
        justify-content: flex-start;
        left: 0;
      }
    }
  }
  & > .row:nth-child(even) {
    .description {
      @include breakpoint(small only) {
        text-align:left;
        justify-content: flex-start;
        left:0;
      }
    }
  }
}
// Borders
.border {
  background:white; 
  position: fixed;
  z-index: 20;
}


.border-top {
  top:0;
  left: 0;
  right: 0;
  height: 10px;
}
.border-bottom {
  bottom:0;
  left: 0;
  right: 0;
  height: 10px;
}
.border-right {
  bottom:0;
  top: 0;
  right: 0;
  width: 10px;
}
.border-left {
  bottom:0;
  top: 0;
  left: 0;
  width: 10px;
}
.caption {
  font-size: .6rem;
  margin-top: 7px;
  margin-bottom: 30px;
  float: right;
}
.flex-video{
  &.other {
    padding-bottom: 53.5%;
  }
  &.dreamers {
    padding-bottom: 70.5%;
  }
  &.pxvspx {
    padding-bottom: 59.5%;
  }
  &.twobyone {
    padding-bottom: 50%;
    padding-top: 0;
  }
}

.goodbye {
  margin-bottom: 200px;
  .emoji {
    width:40px;
  }
  h2 {
    margin-bottom:1rem;

  }
  h3 {
    margin-bottom: 0;
  }
  ul {
    list-style-type: none;
    padding:0;
    margin:0;
    li {
      display: inline-block;
      margin-right:2rem;
    }
  }
  a {

    box-shadow: inset 0 -10px 0 rgba(255,255,255,0.2);
    transition: all .5s ease-in-out;
    padding:0 5px;
    &:hover {
      box-shadow: inset 0 -30px 0 #fff;
     }

  }
}
.row {
    padding-left: 1rem;
    padding-right: 1rem;
}
.row .row {
  padding-left: 0;
  padding-right: 0;
}

@include keyframes(wave) {
  0% {
    @include transform(rotate(5deg));
  }
  100% {
    @include transform(rotate(-5deg));
  }
}
@include keyframes(down) {
  0% {
    top:0px;
  }
  100% {
    top:5px;
  }
}
@include keyframes(nice) {
  0% {
    @include transform(rotate(3deg));
  }
  100% {
    @include transform(rotate(-3deg));
  }
}
.emoji-container {
  position: relative;
  height: 40px;
  margin-bottom: 30px;
}
.emoji {
  position: absolute;
  height: 40px;
  width: auto;
}
.emoji-wrapper {
  position: absolute;
  height: 40px;
  width: 40px;
  @include transition(all .5s cubic-bezier(0.9,-0.16, 0.91, 1.18));
  @include transform(rotate(0deg) scale(1));
  &.hidden {

    @include transition(all .5s  cubic-bezier(0.27,-0.17, 0, 1.06));
    @include transform(rotate(100deg) scale(0));
  }
}
#wave {
  img {
    @include animation(wave 1.5s ease-in infinite alternate);
  }
}
#down {
  left: 10px;
  img {
    @include animation(down 1.5s ease-in infinite alternate);
  }
}
#nice {
  left:5px;
  img {
    @include animation(nice 1.5s ease-in infinite alternate);
  }
}
















