



@font-face {
    font-family: 'clarkeblack_-_oblique';
    src: url('../assets/fonts/clarke_black-oblique-webfont.eot');
    src: url('../assets/fonts/clarke_black-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clarke_black-oblique-webfont.woff') format('woff'),
         url('../assets/fonts/clarke_black-oblique-webfont.ttf') format('truetype'),
         url('../assets/fonts/clarke_black-oblique-webfont.svg#clarkeblack_-_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clarkeblack';
    src: url('../assets/fonts/clarke_black-webfont.eot');
    src: url('../assets/fonts/clarke_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clarke_black-webfont.woff') format('woff'),
         url('../assets/fonts/clarke_black-webfont.ttf') format('truetype'),
         url('../assets/fonts/clarke_black-webfont.svg#clarkeblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clarkemedium';
    src: url('../assets/fonts/clarke_medium-webfont.eot');
    src: url('../assets/fonts/clarke_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clarke_medium-webfont.woff') format('woff'),
         url('../assets/fonts/clarke_medium-webfont.ttf') format('truetype'),
         url('../assets/fonts/clarke_medium-webfont.svg#clarkemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clarkemedium_-_oblique';
    src: url('../assets/fonts/clarke_medium-oblique-webfont.eot');
    src: url('../assets/fonts/clarke_medium-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clarke_medium-oblique-webfont.woff') format('woff'),
         url('../assets/fonts/clarke_medium-oblique-webfont.ttf') format('truetype'),
         url('../assets/fonts/clarke_medium-oblique-webfont.svg#clarkemedium_-_oblique') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clarkeregular';
    src: url('../assets/fonts/clarke_regular-webfont.eot');
    src: url('../assets/fonts/clarke_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clarke_regular-webfont.woff') format('woff'),
         url('../assets/fonts/clarke_regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/clarke_regular-webfont.svg#clarkeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'clarkeoblique';
    src: url('../assets/fonts/clarke_regular-oblique-webfont.eot');
    src: url('../assets/fonts/clarke_regular-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/clarke_regular-oblique-webfont.woff') format('woff'),
         url('../assets/fonts/clarke_regular-oblique-webfont.ttf') format('truetype'),
         url('../assets/fonts/clarke_regular-oblique-webfont.svg#clarkeoblique') format('svg');
    font-weight: normal;
    font-style: normal;

}